header, main, footer {
    max-width: 960px;
    margin: 0 auto;
  }
  
  html {
    background-color: #999
  }
  
  body{
      font-size: 16px;
      font-family: "Lucida Bright", Helvetica, sans-serif;
  }
  h1 {
    /* text-shadow: 2px 2px 5px red; */
    color:rgb(236, 217, 41);
  }
  h3 h4 {
    text-align: center;
  }
  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
  
  header {
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr ;
      background-color: rgb(34, 34, 34);
      align-items: center;
      justify-items: center;
      padding: 10px;
    }
  
  #body2parts {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  #onePiece{
    align-items: center;
    justify-items: center;
  
    display: grid;
    grid-template-columns: 1fr;
  }
  
  header ul {
    border-radius: 10px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(23, 69, 90);
    }
    
    header li {
      float: left;
    }
    
    header li a {
      display: inline-block;
      color: rgb(236 , 217 , 41);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    header li a:hover {
      background-color: #111;
    }
    
    .active {
      background-color: rgb(34,34,34);
    }
  
    #logoAndOptions {
      width: 50px;
    }
    .formIndex form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center;
    }
    .product {
      margin: 5px 5px 5px 5px;
    }
    form img{
      border-radius: 15px;
      width: 190px; 
      height: 190px 

    }
  
    #fixedBox{
      padding: 20px;
      background-color:rgb(107, 129, 140);
    }
  #mainTemplePic img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  header img {
      width: 100px;
      height: auto;
   }
  
  section img {
    border-radius: 15px;
    margin: auto;
    width: 80%;
  }
  
  section div {
    padding: 10px;
  }
  
.orderList{
  padding: 0 10px 0 10px;
  background-color: #222222; 
  border-radius: 5px;
  border: #ECD929;
  color: #ECD929;
  text-align: center;
}

#button {
  background-color: #222222; 
  text-align: center;
  border-radius: 12px;
  margin: 4px 2px;
  grid-column: 2/3;
  width: 100%;
  padding: 10px 32px;
  font-size: 20px;
  border: #ECD929;
  color: #ECD929;
}

  section {
    padding: 5px 20px 0 20px;
    /* border-style: solid;
    border-color: red; */
    border-width: 1px ; /* 20px top and bottom, 5px on the side
      padding: 5px;*/
  } 
  
  #footerSection {
    border-radius: 0 0 15px 15px;
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .social img {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    width: 15px;
    padding: 1px 10px 0 0;
    height: auto;
  }
  
  footer section {  
    color: rgb(137, 210,220);
    background-color: rgb(34, 34, 34);
  }

  #botonPart{    
    grid-column: 1/2;
    grid-row: 1/2;    
  }

  #botonPart img{
  width: 15px;
  padding: 1px 10px 0 0;
  height: auto;
}

  .social{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
  }
  
  .social img{
      width: 40px;
      height: auto;
      /* padding: 2px; */
  }
  footer p {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 12px;
  }
  /* visited link */
  a:visited {
    color: rgb(245, 223, 187);
  }
  
  /* mouse over link */
  a:hover {
    color:rgb(227, 23, 10);
  }
  
  /* selected link */
  a:active {
    color: #E6B5C6;
  }
  main section img{
      border: 1px solid #ccc;
      padding: 10px;
      box-shadow: 5px 5px 5px #999;
  }
  @media screen and (max-width: 550px) {
    .someTimesTest {
      display: block;
    }
  }

  