@media only screen and (min-width: 32.5em) {
    h1 {
        /* text-shadow: 2px 2px 5px red; */
        font-size: 2.5rem;
      }

      h2 {
        font-size: 1.5rem;    
      }
      

      header, footer {
        border-radius: 15px;
        text-align: center;
          background-color: rgb(34, 34, 34);
          align-items: center;
          justify-items: center;
          padding: 5px;
        }
        
  header img {
    float: right;
    border-radius: 15px;
 }
}  
