header, main, footer {
    max-width: 720px;
    margin: 0 auto;
  }
  
  html {
    background-color: #999
  }
  
  body{
      font-size: 16px;
      font-family: "Lucida Bright", Helvetica, sans-serif;
  }
  h1 {
    /* text-shadow: 2px 2px 5px red; */
    color:rgb(236, 217, 41);
  }
  
  header, footer {
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr ;
      background-color: rgb(34, 34, 34);
      align-items: center;
      justify-items: center;
      padding: 5px;
    }
  
  header ul {
    border-radius: 10px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(23, 69, 90);
    }
    
    header li {
      float: left;
    }
    
    header li a {
      display: inline-block;
      color: rgb(236 , 217 , 41);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    header li a:hover {
      background-color: #111;
    }
    
    
  header img {
      width: 100px;
      height: auto;
      border-radius: 15px;
   }
  
  #footerSection {
    border-radius: 0 0 15px 15px;
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    color: rgb(137, 210,220);
    background-color: rgb(34, 34, 34);
  }

  /* visited link */
  a:visited {
    color: rgb(245, 223, 187);
  }
  
  /* mouse over link */
  a:hover {
    color:rgb(227, 23, 10);
  }
  

  