:root {
  --title: rgb(255, 255, 255);
  --headerFooter: #334a6e;
  --background: #dbdbdb;
  --visitedFooter: #e0d252;
  --visited: #4662bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  padding: 20px;
}
body {
  font-family: 'Merriweather+Sans', Helvetica, sans-serif;  ;
  font-size: 18px;
}

html {
  background-color: var(--background);
  margin: auto;
}

h1 {
  /* text-shadow: 2px 2px 5px red; */
  color: var(--title);
  font-size: 1.5rem;
  margin: 0.2rem;
}

h2 {
  font-size: 1rem;
}

header,
footer {
  padding: 20px;
  text-align: center;
  background-color: var(--headerFooter);
  justify-items: center;
}
.content {
  border-style: dashed;
  margin: 10px;
  padding: 15px;
}

.centrado {
  margin-top: 20px;
  margin: auto;
}
nav {  
  background-color: rgb(105, 157, 218);
  margin: 0 auto;
}
.navigation {
  text-align: center;
  list-style: none;
  padding: 0;
}
.navigation a {
  text-align: center;
}
.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}
.responsive li {
  display: block;
}

header img {
  width: 150px;
  height: auto;
}

footer,
footer a,
#lastUpdate {
  color: var(--title);
}

/* visited link */
footer a:visited {
  color: var(--visitedFooter);
}

/* visited link */
a:visited {
  color: var(--visited);
}

/* mouse over link */
a:hover {
  font-weight: bold;
}