@media only screen and (min-width: 32.5em) {

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr;
  }

  #joinLink img {
    width: 20%;
  }

  .mainLogo {
    max-width: 40%;
    height: auto;
  }

  /*************** start navigation ****************/
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation a {
    text-align: center;
  }

  /**************** end navigation *****************/

  .actualTemp {
    margin-left: 80px;
  }

  .footerDiv {
    grid-template-columns: 1fr 1fr;
  }

  .social {
    margin: 0 10px;
  }
  .localBusiness  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;  
  }
  /*   
  .alert {
    position: absolute;
  } */

}