:root {
    --gray: #6c757d;
    --skyBlue: rgb(105, 157, 218);
    --background: #ffffff;
    --red: #cf1717;
    --blue: #1761a0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather+Sans', Helvetica, sans-serif;
}

/* header */
header,
main,
footer,
h2 {
    text-align: center;
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr;
}

.mainLogo {
    margin: 0 auto;
    width: 60%;
    height: auto;
}

#joinLink img {
    float: right;
    width: 30%;
}


/*************** start navigation ****************/

nav {
    grid-column: 2;
    margin: 30px 0 0 0;
    background-color: var(--skyBlue);
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    color: black;
    font-weight: 700;
    transition: 0.5s;
}

.navigation a:hover {
    font-weight: bold;
    background-color: var(--background);
}

.responsive li {
    display: block;
}

/**************** end navigation *****************/


/**************** main pictures *****************/
/* .herodiv a:visited {
    color: #000;
} */

.herodiv img {
    filter: blur(0px);
    transition: filter 0.5s;
    max-width: 960px;
    max-height: 330px;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
/* .stats */
.alert {    
    top: 150px;
    left: 100px;
    background: radial-gradient(#eee, #aa4545);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #111;
    margin: 0 auto;
    max-width: 800px;
    max-height: fit-content;
}

img {
    width: 100%;
    height: auto;
}
.h5event {
    font-weight: bold;
    border: 1px solid var(--red);
}

.localBusiness {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.flyer {
    width: 300px;
    text-align: center;
    background-color: rgb(105, 157, 218);
    box-shadow: 8px 8px 8px #628ca6;
    border-radius: 20px;
    padding: 1rem;
    margin: 0.7rem;
}

.flyer img {
    margin: 0 auto;
    max-height: 150px;
    width: auto;
}

#localEvent {
    color: cornsilk;
    text-align: center;
    background-color: var(--blue);
    border-radius: 1em;
    max-width: 480px;
    margin: 0 auto;
    border: 1px solid var(--red);
}

/* footer */
footer {
    margin: 0 auto;
    font-weight: bold;
    background-color: var(--skyBlue);
}

.footerDiv {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
}

.social img {
    max-width: 40px;
    margin: 0 10px;
}

#footerData {
    grid-column: 1/3;
    text-align: center;
}

iframe {
    padding: 5px;
    margin: auto;
    padding: 10px;
}


/* form */

form button {
    margin-top: 2em;
}

form .radiosBtn {
    display: inline-block;
    margin-left: 0.8em;
}

form select {
    padding: 2px;
    width: 100%;
}

form textarea,
input,
#stormDate {
    width: 100%;
}

form #rating {
    width: 88%;
}

/* for weather */
.grid-col {
    background-color: #e0e0e0;
    border: 1px solid #333;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    padding: 15px;
}

div.grid {
    margin: 25px;
}

#WeatherMain {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr .4fr;
}

.actualTemp {
    background-color: #e0e0e0;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
}

div.actualTemp {
    grid-column: 1fr;
}

.actualTemp img {
    max-width: 80px;
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}